.lake

/blueprint/web/*
/blueprint/print/*
lean_decls

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
print.pdf
web.paux

blueprint/src/print.prv/*
blueprint/src/_region_.prv/*
**/__region__.tex

*.el